.about {
  background-color: #191919;

  &__content {
    display: flex;
    justify-content: center;
    color: #ffffff;
    line-height: 1.5;
    padding-top: 80px;
    padding-bottom: 85px;
  }

  &__item {
    width: 264px;
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__title {
    font-size: 24px;
  }

  &__description {
    font-size: 14px;

    p {
      font-size: 12px;
    }
  }

  &__arrow {
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__photos {
    margin-top: 15px;

    img {
      transition: 0.2s;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__date {
    color: #555555;
    transition: 0.2s;

      &:hover {
        color: #f0f0f0;
      }
  }

  &__text {
    color: #555555;
    transition: 0.2s;

      &:hover {
        color: #c7b299;
      }
  }

  &__time {
    color: #363636;
  }

  &__textcolor {

    &--bl {
      text-decoration: none;
      color: #02b4e4;
    }

    &--gr {
      text-decoration: none;
      color: #959595;
    }
  }

  &__line {
    border-bottom: 1px solid #696969 ;
  }
}