.about {
  &__content {
    background-color: #222222;
    display: flex;
    justify-content: center;
    color: #ffffff;
    line-height: 1.5;
    padding-top: 80px;
    padding-bottom: 85px;
  }

  &__item {
  }
}