.about {
  background-color: #191919;

  &__content {
    display: flex;
    justify-content: center;
    color: #ffffff;
    line-height: 1.5;
    padding-top: 80px;
    padding-bottom: 85px;
  }

  &__item {
    width: 264px;
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__title {
    font-size: 24px;
  }

  &__description {
    font-size: 14px;

    p {
      font-size: 12px;
    }
  }

  a {
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__photos {
    margin-top: 15px;
  }

  p {
    color: #555555;
  }

  &__textcolor {

    &--wh {
      color: #ffffff;
    }

    &--gl {
      color: #998977;;
    }

    &--bl {
      color: #02b4e4;
    }

    &--gr {
      color: #959595;
    }
  }

  &__line {
    border-bottom: 1px solid #696969 ;
  }
}