.boxes {
  background-image: url("../img/Background1.jpg");

  &__content {
    display: flex;
    justify-content: space-between;
    color: #998675;
    margin-top: -4px;
    height: 150px;

    span {
      color: white;
    }
  }

  &__slogan {
    padding-top: 35px;
    line-height: 0.5;

    h2 {
      font-size: 28px;
    }

    p{
      color: #615855;
      font-size: 18px;
    }
  }

  &__button {
    padding-top: 15px;

    &--btn {
      background-color: #998675;
      color: #ffffff;
      text-transform: uppercase;
      margin-top: 35px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      width: 170px;
      height: 50px;
      font-size: 14px;
      font-weight: 600;

      &:hover {
        box-shadow: inset 0 -5px 0 #736357;
      }
    }
  }
}