.boxes {
  background-image: url("../img/Background1.jpg");

  &__content {
    display: flex;
    justify-content: space-between;
    color: #998675;
    margin-top: -4px;
    height: 150px;

    span {
      color: white;
    }
  }

  &__slogan {
    padding-top: 35px;
    line-height: 0.5;

    p{
      color: #615855;
    }
  }

  &__button {
    padding-top: 15px;

    &--btn {
      background-color: #998675;
      color: #ffffff;
      text-transform: uppercase;
      height: 45px;
      margin-top: 35px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }
}