.boxes {

  &__content {
    display: flex;
    justify-content: space-evenly;
    background-image: url("../img/Background1.jpg");
    color: #ffffff;
    margin-top: -4px;

  }

  &__button {
    background-color: #998675;
    color: #ffffff;
    text-transform: uppercase;
    height: 45px;
    margin-top: 35px;
    border-radius: 5px;
    cursor: pointer;
  }
}