.counters {
  background-image: url("../img/jpg/Background2.jpg");

  &__content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #ffffff;
    margin-top: -4px;
    padding-top: 70px;
    padding-bottom: 60px;
    line-height: 45px;
  }

  &__item {
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &__title {
    font-size: xxx-large;
  }

  &__description {
    text-transform: uppercase;
    color: #998675;
  }

}