.footer {
  background-color: #000000;

  &__content {
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    list-style-type: none;
    display: flex;

    a{
      text-decoration: none;
      color: #808080;
    }
  }


}