.footer {
  background-color: #000000;

  &__content {
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    list-style-type: none;
    display: flex;

    a{
      text-decoration: none;
      color: #696969;
      margin-right: 15px;

      &:hover {
        color: #998675;
      }
    }
  }

  span {
    color: #f7f7f7;
  }

}