.footer {
  background-color: #111111;

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;

    &--left {
      margin-left: -25px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      border-left: 1px solid #696969;

      &:nth-child(1) {
        border-left: none;
      }
    }

    a{
      text-decoration: none;
      color: #555555;
      margin-right: 15px;
      padding-left: 10px;
      transition: 0.2s;

      &:hover {
        color: #af9d87;
        font-weight: bold;
      }
    }
  }

  span {
    color: #959595;
  }

}