.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 400;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;

    @media screen and (max-width: 1149px) {
      flex-direction: column;
      align-items: center;
    }

    .logo {
      display: inline-block;

      @media screen and (max-width: 1149px) {
        margin-bottom: 20px;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }

      img {
        max-width: 100%;
      }
    }

    .nav {
      margin-left: 190px;

      @media screen and (max-width: 1149px) {
        margin-left: 0;
        margin-bottom: 20px;
      }

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 661px) {
          flex-direction: column;
          align-items: center;
        }
      }

      &__item {
        margin-right: 25px;

        @media screen and (max-width: 661px) {
          margin-right: 0;
          margin-bottom: 10px;
        }

        &:last-child {
          margin-right: 50px;

          @media screen and (max-width: 1149px) {
            margin-right: 0;
          }
        }

        a {
          font-size: 14px;
          color: #ffffff;
          text-decoration: none;
          transition: 0.2s;

          &:hover {
            color: #998675;
          }
        }
      }
    }

    .icon-cart {
      text-decoration: none;

      svg {
        width: 18px;
        height: 24px;
        fill: #ffffff;

        &:hover {
          cursor: pointer;
          fill: #998675;
        }
      }
    }

    .icon-search {
      margin-left: 20px;
      text-decoration: none;

      svg {
        width: 24px;
        height: 24px;
        fill: #ffffff;

        &:hover {
          cursor: pointer;
          fill: #998675;
        }
      }
    }
  }
}