.header {
  height: 980px;
  background-size: cover;
  background-color: black;
  background-image: url("../img/bg-photo1.jpg");

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;

    .logo {
      display: inline-block;

      img {
        max-width: 100%;
      }
    }



    .nav {

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      &__item {
        margin-right: 42px;

        &:last-child {
          margin-right: 8px;
        }

        a {
          font-size: 14px;
          color: #ffffff;
          text-decoration: none;

          &:hover {
            color: yellow;
          }
        }
      }
    }
  }

  &__content {
    text-align: center;
    padding-top: 170px;
  }

  &__title {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: -0.7px;
    margin: 0;
  }

  &__description {
    font-size: 52px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: -1.8px;
    margin: 0 0 40px;

    p {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: normal;
    }
  }

  &__button {
    background-color: grey;
    color: #ffffff;
  }

}