.logos {
  margin-top: 80px;

  &__content {
    background-image: url("../img/Background3.jpg");
    background-size: cover;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}