.portfolio {
  background-color: #f7f7f7;

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  &__item {
    width: 31%;
    text-align: center;
    margin-bottom: 52px;
    background-color: ghostwhite;
    padding-bottom: 25px;
  }

  &__icon {
    margin-bottom: 24px;

    img {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    margin-bottom: 3px;
    color: #c7b299;
    font-weight: 500;
  }

  &__description {
    font-size: 14px;
    color: #737373;
    line-height: 2;
    text-align: initial;
    padding-left: 20%;
    margin-top: 15px;

  }

  &__arrow {
    text-align: initial;
    margin-left: 20%;
    margin-top: 20px;
    font-size: 14px;
    color: #c7b299;

    a {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &__bg {
    position: relative;
  }

  &__date {
    position: absolute;
    top: 15px;
    left: 130px;

    img {
      border-radius: 5px;
    }
  }
}