.posts {

  &__content {
    margin-top: 80px;
  }
  &__title {
    text-align: center;

    p {
      line-height: 2;
    }
  }

  &__arrows {
    display: flex;
    justify-content: center;



    &--right {
      margin-left: 8px;
    }

    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}