.posts {

  &__content {
    margin-top: 80px;

    @media screen and (max-width: 480px) {
      margin-top: 20px;
    }
  }

  &__title {
    text-align: center;

    h2 {
      font-size: 30px;
      color:#555555;

      @media screen and (max-width: 819px) {
        font-size: 26px;
      }
    }

    p {
      font-size: 16px;
      line-height: 2;
      color: #939393;

      @media screen and (max-width: 819px) {
        font-size: 12px;
      }
    }
  }

  &__arrows {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 480px) {
      margin-top: -30px;
    }

    svg {
      width: 22px;
      height: 22px;
      fill: #d1d1d1;

      &:hover {
        cursor: pointer;
        fill: #c7b299;
      }
    }

    &--right {
      margin-left: 8px;
    }
  }
}

.portfolios {

  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 52px;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    margin-left: 25px;
    transition: 0.2s;

    @media screen and (max-width: 1023px) {
      margin-left: 0;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 20px;
    }

    &:hover {
      background-color: #362f2d;
      cursor: pointer;
      opacity: 0.5;

      .portfolios__date--day {
        background-color: #c7b299;
      }

      .portfolios__date--month {
        background-color: #a48d72;
      }

      .portfolios__title {
        color: #a08f7c;
      }

      .portfolios__description {
        color: #ffffff;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__bg {
    position: relative;

    img {
      max-width: 100%;
    }
  }

  &__date {
    position: absolute;
    top: 15px;
    left: 25px;

    &--day {
      background-color: #363636;
      height: 30px;
      width: 50px;
      color: #ffffff;
      text-align: center;
      padding-top: 5px;
      font-size: 24px;
      border-radius: 5px 5px 0 0;
    }

    &--month {
      background-color: #252525;
      height: 25px;
      width: 50px;
      color: #ffffff;
      text-align: center;
      padding-top: 5px;
      font-size: 12px;
      border-radius: 0 0 5px 5px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    padding-top: 35%;
    z-index: 100;
  }

  &__dot {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border: 2px solid transparent;
    cursor: pointer;

    span {
      display: block;
      height: 100%;
      background-color: #c7b299;
    }

    &:hover {
      border-color: #fff;

      span {
        background-color: transparent;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    padding-left: 20px;
    padding-top: 20px;
    line-height: 1.5;
    border: 1px solid #f8f8f8;
    margin-top: -5px;
    padding-bottom: 20px;
    margin-right: -1px;
  }

  &__title {
    font-size: 18px;
    color: #828282;
    font-weight: 500;

    @media screen and (max-width: 624px) {
      font-size: 14px;
    }
  }

  &__description {
    font-size: 14px;
    color: #ababab;
    line-height: 1.5;
    margin-top: 15px;

    @media screen and (max-width: 624px) {
      font-size: 10px;
    }
  }

  &__subdescription {
    display: flex;
    padding-top: 15px;
    font-size: 14px;
    color: #c7b299;

    @media screen and (max-width: 624px) {
      font-size: 11px;
    }
  }

  &__arrow {
    display: block;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 5px solid #c7b299;
    border-bottom: 4px solid transparent;
    margin-top: 7px;

    &:hover {
      cursor: pointer;
    }
  }
}