.posts {

  &__content {
    margin-top: 80px;
  }
  &__title {
    text-align: center;

    p {
      line-height: 2;
    }
  }

  &__arrows {
    display: flex;
    justify-content: center;

    &--right {
      margin-left: 8px;
    }

    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.portfolios {
  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 52px;

  }

  &__item {
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }

  }

  &__bg {
    position: relative;
  }

  &__date {
    position: absolute;
    top: 15px;
    left: 25px;

    &:hover {
      cursor: pointer;
    }

    img {
      border-radius: 5px;
    }
  }

  &__text {
    padding-left: 20px;
    padding-top: 20px;
    line-height: 1.5;
    border: 1px solid #f8f8f8;
    margin-top: -4px;
    padding-bottom: 20px;
  }

  &__title {
    font-size: 18px;
    color: #c7b299;
    font-weight: 500;
  }

  &__description {
    font-size: 14px;
    color: #737373;
    line-height: 1.5;
    margin-top: 15px;

  }

  &__arrow {
    padding-top: 15px;
    font-size: 14px;
    color: #c7b299;

    a {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &__dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    padding-top: 35%;
    z-index: 100;
  }

  &__dot {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border: 2px solid transparent;
    cursor: pointer;

    span {
      display: block;
      height: 100%;
      background-color: #c7b299;
    }

    &:hover {
      border-color: #fff;

      span {
        background-color: transparent;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}