.projects {
  margin-top: 80px;
  margin-bottom: 80px;

  &__content {
    text-align: center;
  }

  &__title {
    text-align: center;

    h2 {
      font-size: 30px;
      color: #555555;

      @media screen and (max-width: 819px) {
        font-size: 26px;
      }
    }

    p {
      font-size: 16px;
      line-height: 2;
      color: #939393;

      @media screen and (max-width: 819px) {
        font-size: 12px;
      }
    }
  }

  &__menu {

    nav {
      padding-top: 5px;

      ul {
        display: flex;
        justify-content: center;
        list-style-type: none;

        @media screen and (max-width: 654px){
          flex-direction: column;
          align-items: center;
        }

        .nav__btn {

          @media screen and (max-width: 654px) {
            margin-bottom: 50px;
          }
        }

        .btn-first {
          display: inline-block;
          width: 65px;
          text-align: center;
          margin-top: -11px;
          margin-left: -32px;

          @media screen and (max-width: 654px) {
            margin-top: 0;
            margin-left: 0;
            margin-bottom: -11px;
          }
        }

        a {
          text-decoration: none;
          padding: 10px;
          color: #8c8c8c;
          border: 1px solid #ebebeb;
          border-radius: 5px;
          margin-right: 10px;
          transition: 0.2s;

          &:hover {
            background-color: #c7b299;
            color: #ffffff;
          }
        }
      }
    }
  }

  &__button {
    background-color: #998675;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    width: 170px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;

    &:hover {
      box-shadow: inset 0 -5px 0 #736357;
    }
  }
}