.projects {
  margin-top: 80px;

  &__content {
  }

  &__title {
    text-align: center;

    h2 {
      font-size: 30px;
    }

    p {
      line-height: 2;
    }
  }

  &__menu {
    nav {
      padding-top: 5px;

      ul {
        display: flex;
        justify-content: center;
        list-style-type: none;

        a {
          text-decoration: none;
          padding: 10px;
          color: grey;
          border: 1px solid;
          margin-right: 10px;

          &:hover {
            background-color: #c7b299;
            color: white;
          }
        }
      }
    }
  }

  &__button {
    background-color: #998675;
    color: #ffffff;
    text-transform: uppercase;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
  }
}