.projects {

  &__content {

  }

  &__slogan {
    text-align: center;
  }

  &__menu {
    nav {
      ul {
        display: flex;
        justify-content: center;
        list-style-type: none;

        a {
          text-decoration: none;
          padding: 10px;
          color: grey;
          border: 1px solid;
          margin-right: 10px;

          &:hover {
            background-color: #998675;
            color: white;
          }
        }
      }
    }
  }

  &__portfolio {

  }

  &__button {
    background-color: #998675;
    color: #ffffff;
    text-transform: uppercase;
    height: 45px;
    margin-top: 35px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
  }
}