.realization {
  padding-top: 80px;
  background: #fbfaf8;

  &__slogan {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 45px;

    h2 {
      font-size: 30px;
    }

    p {
      color: #939393;
    }
  }

  &__browser {
    position: relative;
    display: flex;
    justify-content: center;

    &--left {
      position: absolute;
      left: -25px;
      bottom: 0;
      z-index: 100;

      &:hover {
        opacity: 0.5;
      }
    }

    &--right {
      position: absolute;
      right: -25px;
      bottom: 0;
      z-index: 100;

      &:hover {
        opacity: 0.5;
      }
    }

    &--center {
      position: relative;
      z-index: 200;

      &:hover {
        cursor: pointer;
        box-shadow: inset 0 -5px 0px #998675;
      }
    }
  }
}