.realization {
  padding-top: 80px;
  background: #fbfaf8;

  @media screen and (max-width: 480px){
    padding-top: 20px;
  }

  &__slogan {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 45px;

    @media screen and (max-width: 480px){
      margin-bottom: 20px;
    }

    h2 {
      font-size: 30px;
      color: #555555;

      @media screen and (max-width: 819px) {
        font-size: 20px;
      }

      @media screen and (max-width: 624px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 16px;
      color: #939393;

      @media screen and (max-width: 819px) {
        font-size: 12px;
      }

      @media screen and (max-width: 624px) {
        font-size: 10px;
      }
    }
  }

  &__browser {

    img {
      max-width: 100%;
    }
  }
}