.services {

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 50px;

    @media screen and (max-width: 1275px){
      flex-direction: column;
    }
  }

  &__item {
    text-align: center;

    &:hover {
      cursor: pointer;

      .services__icon {

        svg {
          fill: #c7b299;
        }
      }

      .services__line {

        &:before {
          background-color: #c7b299;
        }
      }

      .services__title {
          color: #c7b299;
      }
    }
  }

  &__icon {
    margin-top: 15px;
    margin-bottom: 15px;

    svg {
      height: 50px;
      fill: #555;
      transition: fill 0.2s;
    }
  }

  &__title {
    font-size: 22px;
    color: #222222;
    margin-bottom: 25px;
    font-weight: bold;
    transition: color 0.2s;
  }

  &__description {
    margin-bottom: 30px;
    font-size: 16px;
    color: #777777;
    line-height: 24px;
  }

  &__line {
    margin-bottom: 80px;

    &:before {
      content: "";
      display: inline-block;
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
      transition: background-color 0.2s;
    }
  }
}