.video {

  &__content {
    position: relative;

    video {
      max-width: 100%;
      margin-top: 80px;
    }
  }

  &__player {
    position: absolute;
    top: 35%;
    left: 47%;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    img {
      max-width: 100%;
    }
  }

  &__title {
    position: absolute;
    top: 52%;
    left: 35%;
    text-align: center;
    color: #f7f7f7;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
    }
  }

  &__time {
    position: absolute;
    top: 72%;
    left: 49%;
    color: #c7b299;
    font-weight: 600;
  }
}