.video {

  &__content {
    position: relative;
    display: flex;
    justify-content: center;

    video {
      max-width: 100%;
    }
  }

  &__player {
    position: absolute;
    margin-top: 10%;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    img {
      max-width: 100%;

      @media screen and (max-width: 703px){
        max-width: 50%;
      }
    }
  }

  &__title {
    position: absolute;
    margin-top: 15%;
    text-align: center;
    color: #f7f7f7;

    @media screen and (max-width: 440px){
      display: none;
    }

    h2 {
      font-size: 30px;

      @media screen and (max-width: 1470px){
        font-size: 24px;
      }
    }

    p {
      font-size: 16px;

      @media screen and (max-width: 1470px){
        font-size: 12px;
      }
    }
  }

  &__time {
    position: absolute;
    margin-top: 25%;
    color: #c7b299;
    font-weight: 600;
  }
}