.video {

  &__content {
    position: relative;

    video {
      max-width: 100%;
      margin-top: 80px;
    }
  }

  &__player {
    position: absolute;
    top: 35%;
    left: 47%;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    position: absolute;
    top: 52%;
    left: 35%;
    text-align: center;
    color: #f7f7f7;
    line-height: 1.5;
  }

  &__time {
    position: absolute;
    top: 72%;
    left: 49%;
    color: #c7b299;
    font-weight: 600;
  }
}